Repository Uvacoder/test-patterns.run: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Comply to eslint errors
  generate-favicons.js
  src/components/a.tsx
  src/components/container.tsx
  src/components/header.tsx
  src/components/layout.tsx
  src/hooks/use-debounce.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  src/utils.ts
Due: prettier --write, eslint --cache --fix

Add `square-x`
  patterns/square-x.pattern.js
Due: prettier --write

Add doctl.yaml
  doctl.yaml
  package.json
Due: prettier --write

Update readme
  README.md
Due: prettier --write

refactor: use latest eslint, next.js, tailwind css, etc.
  .eslintrc.json
  next.config.js
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock.REMOVED.git-id
Due: prettier --write

refactor: update configs
  .eslintignore
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc.json
  generate-favicons.js
  package.json
  site-config.js
  tsconfig.json
  vercel.json
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

chore: add funding.yml
  .github/FUNDING.yml
Due: none

chore: update editor configs
  .vim/coc-settings.json
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

refactor: housekeeping
  src/components/a.tsx
  src/components/container.tsx
  src/components/header.tsx
  src/hooks/use-debounce.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  src/prism-theme.ts
  src/stylesheets/index.css
  src/types/index.ts
  src/utils/create-pattern.ts
Due: prettier --write, eslint --cache --fix

fix: re-add postcss config
  package.json
  postcss.config.js
  yarn.lock.REMOVED.git-id
Due: prettier --write

fix: update generate-favicons.js
  generate-favicons.js
Due: prettier --write

fix: move typescript from dev deps to deps
  package.json
Due: prettier --write

chore: remove digital ocean deployment
  doctl.yaml
Due: none

feat: add cache-control header
  next.config.js
Due: prettier --write

refactor: bump deps and update configs
  .eslintrc.js
  .lintstagedrc.json
  .prettierrc.json
  next-env.d.ts
  next.config.js
  package.json
  tsconfig.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

chore(style): update base layer
  src/stylesheets/index.css
Due: prettier --write

fix(utils): use string class on error
  src/utils/create-pattern.ts
Due: prettier --write, eslint --cache --fix

fix(types): use unknown instead of any
  src/types/index.ts
Due: prettier --write, eslint --cache --fix

chore(pages): remove layout component and use directly
  src/components/layout.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --cache --fix

chore(pages): update _document
  src/pages/_document.tsx
Due: prettier --write, eslint --cache --fix

refactor: v4
  src/components/a.tsx
  src/components/container.tsx
  src/components/container/index.tsx
  src/components/editor/decrement.tsx
  src/components/editor/increment.tsx
  src/components/editor/index.tsx
  src/components/editor/renderer.tsx
  src/components/editor/size-indicator.tsx
  src/components/footer.tsx
  src/components/footer/index.tsx
  src/components/header.tsx
  src/components/header/index.tsx
  src/components/link/index.tsx
  src/hooks/use-debounce.ts
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  src/store/editor.tsx
Due: prettier --write, eslint --cache --fix

chore: remove src and move all to root project
  .eslintrc.js
  .lintstagedrc.json
  components/container/index.tsx
  components/editor/decrement.tsx
  components/editor/increment.tsx
  components/editor/index.tsx
  components/editor/renderer.tsx
  components/editor/size-indicator.tsx
  components/footer/index.tsx
  components/header/index.tsx
  components/link/index.tsx
  config/site.js
  generate-favicons.js
  images/kite.png
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/pattern/[name].tsx
  store/editor.tsx
  stylesheets/index.css
  tailwind.config.js
  theme/prism.ts
  tsconfig.json
  types/index.ts
  utils/create-pattern.ts
Due: prettier --write

feat: add sitemap generator
  config/sitemap.js
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

feat(deps): update zustand
  yarn.lock.REMOVED.git-id
Due: none

feat: add monaco
  components/editor/index.tsx
  components/editor/live.tsx
  components/editor/monaco.tsx
  package.json
  store/editor.tsx
  theme/monaco.ts
  yarn.lock.REMOVED.git-id
Due: prettier --write

feat(v7): update editor layout and sort classes
  .eslintrc.js
  components/editor/decrement.tsx
  components/editor/index.tsx
  components/editor/size-indicator.tsx
  package.json
  pages/index.tsx
  yarn.lock.REMOVED.git-id
Due: prettier --write

feat(patterns): add jsdoc
  patterns/___template.js
  patterns/arrow-bottom-left.pattern.js
  patterns/arrow-bottom-right.pattern.js
  patterns/arrow-top-left.pattern.js
  patterns/arrow-top-right.pattern.js
  patterns/arrow-up-optimized.pattern.js
  patterns/arrow-up.pattern.js
  patterns/asterisk.pattern.js
  patterns/checkered-flag.pattern.js
  patterns/cross.pattern.js
  patterns/customizable-grid.pattern.js
  patterns/diamond-optimized.pattern.js
  patterns/diamond.pattern.js
  patterns/hourglass-empty.pattern.js
  patterns/hourglass.pattern.js
  patterns/square-hollow.pattern.js
  patterns/square-x.pattern.js
  patterns/square.pattern.js
  patterns/triangle-a.pattern.js
  patterns/triangle-b.pattern.js
  patterns/triangle-c.pattern.js
  patterns/triangle-d.pattern.js
  patterns/triangle-hollow-a.pattern.js
  patterns/triangle-hollow-b.pattern.js
  patterns/triangle-hollow-c.pattern.js
  patterns/triangle-hollow-d.pattern.js
Due: prettier --write

chore(store): use monaco as default editor
  store/editor.tsx
Due: none

chore(deps): bump versions
  yarn.lock.REMOVED.git-id
Due: none

chore(store): update unbound method types
  store/editor.tsx
Due: none

feat(config): update headers
  next.config.js
Due: prettier --write

feat(pages): remove first line pattern comment
  pages/index.tsx
Due: none

feat(config): enable future strict postcss config
  next.config.js
Due: prettier --write

chore(config): update experimental source comment
  next.config.js
Due: prettier --write

feat: use preact on production client
  next.config.js
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

fix(config): update csp headers
  next.config.js
Due: prettier --write

fix(scripts): prefer conditional checking
  generate-favicons.js
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{js,json,md}) or (any of: patterns/*.js)) or (any of: src/**/*.css)) or (any of: src/**/*.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: src/**/*.{js,jsx,ts,tsx}
