Repository Uvacoder/test-patterns.run: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(scripts): log node version on generate favicon
  generate-favicons.js
Due: prettier --write, eslint --fix

feat(docs): update readme
  README.md
Due: prettier --write

chore(footer): remove hosted text
  components/footer/index.tsx
Due: eslint --fix

chore(deps): bump versions
  yarn.lock.REMOVED.git-id
Due: none

feat(scripts): optimize favicon script
  generate-favicons.js
  package.json
  scripts/favicons.js
  yarn.lock.REMOVED.git-id
Due: prettier --write, eslint --fix

feat(editor): optimize responsive layout
  components/editor/index.tsx
Due: eslint --fix

fix(pages): passHref instead of double href
  pages/pattern/[name].tsx
Due: eslint --fix

chore(config): housekeeping
  .eslintrc.js
  next-env.d.ts
  next.config.js
Due: prettier --write, eslint --fix

fix(deps): pin zustand version
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

chore(husky): remove pre-push
  .huskyrc.json
Due: prettier --write

feat(husky): update to v7
  .husky/post-merge
  .husky/pre-commit
  .huskyrc.json
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

fix(scripts): replace fs/promises with fs
  src/scripts/favicons.js
Due: prettier --write, eslint --fix

refactor: upgrade and housekeeping
  .vim/coc-settings.json
  lib/fathom.ts
  next.config.js
  package.json
  src/components/editor/increment.tsx
  src/components/editor/renderer.tsx
  src/config/site.js
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  src/store/editor.tsx
  src/theme/prism.ts
  src/ui/container/index.tsx
  src/ui/editor/decrement.tsx
  src/ui/editor/increment.tsx
  src/ui/editor/index.tsx
  src/ui/editor/live.tsx
  src/ui/editor/monaco.tsx
  src/ui/editor/renderer.tsx
  src/ui/editor/size-indicator.tsx
  src/ui/footer/index.tsx
  src/ui/header/index.tsx
  src/ui/link/index.tsx
  src/utils/create-pattern.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock.REMOVED.git-id
Due: prettier --write, eslint --fix

feat(fathom): include multiple domains
  src/config/site.js
  src/lib/fathom.ts
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

fix(config): update csp
  next.config.js
Due: prettier --write, eslint --fix

feat(config): update tailwind eslint config
  package.json
  src/pages/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

feat(config): update tsconfig.json
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  tsconfig.json
Due: prettier --write, eslint --fix

chore(deps): bump versions
  .gitignore
  next.config.js
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write, eslint --fix

chore(footer): typo
  src/ui/footer/index.tsx
Due: eslint --fix

chore(docs): update image
  README.md
Due: prettier --write

feat(pages): add playground page
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  src/pages/playground.tsx
Due: eslint --fix

fix(sandpack): enable wrap content
  src/ui/editor/sandpack.tsx
Due: eslint --fix

feat(header): add playground button
  src/ui/header/index.tsx
Due: eslint --fix

chore(next): update declaration
  next-env.d.ts
Due: eslint --fix

feat(sandpack): use pattern-runner package
  package.json
  src/pages/index.tsx
  src/ui/editor/sandpack.tsx
  src/utils/pattern.js
  src/utils/sandpack.js
  yarn.lock.REMOVED.git-id
Due: prettier --write, eslint --fix

fix: adjust responsive layouts
  src/pages/index.tsx
  src/ui/header/index.tsx
Due: eslint --fix

fix: adjust responsive layouts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  src/ui/core/page-border.tsx
  src/ui/editor/sandpack.tsx
  src/ui/footer/index.tsx
  src/ui/header/index.tsx
Due: eslint --fix

feat: adjust responsive layouts and add vercel footer
  src/config/site.js
  src/ui/footer/index.tsx
  src/ui/header/index.tsx
Due: prettier --write, eslint --fix

chore: update .nvmrc
  .nvmrc
Due: none

refactor(yarn): use berry
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs.REMOVED.git-id
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs.REMOVED.git-id
  .yarn/releases/yarn-3.1.1.cjs.REMOVED.git-id
  .yarnrc.yml
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

feat(git): add .gitattributes
  .gitattributes
Due: none

fix(scripts): reconfigure husky
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

chore: housekeeping
  src/pages/index.tsx
  src/pages/pattern/[name].tsx
  src/types/pattern.ts
Due: eslint --fix

feat: add netlify support
  netlify.toml
  package.json
  yarn.lock.REMOVED.git-id
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,json,md}) or (any of: patterns/*.js)) or (any of: **/*.css)
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
